{% comment %} hero.liquid {% endcomment %}
<div class="gm-hero">
	<div class="hero-video">
		{% if section.settings.hero_video %}
			{% assign video_url = section.settings.hero_video.sources[1].url %}
			<video class="hero-video-element" autoplay muted loop playsinline>
				<source src="{{ video_url }}" type="video/mp4">
			</video>
		{% elsif section.settings.fallback_image %}
			{{
				section.settings.fallback_image | image_url: width: 200 | image_tag:
				loading: 'eager',
				class: 'hero-video-fallback',
				alt: 'hero background'
			}}
		{% else %}
			<div class="hero-video-placeholder"></div>
		{% endif %}
	</div>
	
	{% render 'banner' %}
</div>

{% stylesheet %}
	/* ===== MOBILE STYLES ===== */
	.gm-hero {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.hero-video {
		order: 1;
		
		width: 100%;
		height: auto;
		aspect-ratio: 16/9; /* fallback for older browsers */
		position: relative;
		margin-bottom: -20px;
		z-index: 1;
	}
	
	.hero-video-element,
	.hero-video-fallback {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	
	.hero-video-element {
		transform: translateZ(0);
		backface-visibility: hidden;
		perspective: 1000px;
	}
	
	.hero-video-placeholder {
		width: 100%;
		aspect-ratio: 16/9;
		background: #F62D93;
	}
	
	
	@keyframes waveScroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}
	
	@media (min-width: 768px) {
		.gm-hero {
			padding-bottom: 0;
		}
	}
{% endstylesheet %}

{% schema %}
{
	"name": "t:general.hero",
	"class": "shopify-section--full-width",
	"settings": [
		{
			"type": "video",
			"id": "hero_video",
			"label": "Hero background video",
		},
		{
			"type": "image_picker",
			"id": "fallback_image",
			"label": "Fallback image",
			"info" : "Shows if video can't load"
		}
	],
	"presets": [
		{
			"name": "Hero",
			"settings": {}
		}
	]
}
{% endschema %}