<div class="gm-hero">
	<div class="hero-video">
		
	</div>
	
	<div class="hero-banner">
		
	</div>
</div>

{% stylesheet %}
	
{% endstylesheet %}

{% schema %}
{
	"name": "t:general.hero",
	"settings": [],
	"presets": [
		{
			"name": "Hero",
		}
	]
}
{% endschema %}
